<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <script src="/javascripts/send.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" defer></script>
    
  </head>
  
  
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      Hackson
    <hr>
      <input type="text" name="node" id="node">
      <input type="button" name="send" value="送信" id="send">
      <ul id="message"></ul>
      



      
  </body>
</html>
