<!DOCTYPE html>
<html>
  <head>
    <title>Node勉強会</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1>あああ</h1>

    <hr>
    <img src="/images/hito.png">
  </body>
</html>
